.PropertyCard {
  position: relative;
  width: 30%;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (max-width: 1230px) {
  .PropertyCard {
    width: 47%;
  }
}
@media screen and (max-width: 900px) {
  .PropertyCard {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .PropertyCard {
    height: 200px;
  }
}

.PropertyCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  will-change: transform;
}

.PropertyCard h3 {
  z-index: 20;
  position: absolute;
  right: 15px;
  bottom: 15px;
  left: 15px;
  font-weight: 500;
  color: #fff;
}
