body {
  max-width: 1440px;
  margin: 0 auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kalen_img {
  width: 1240px;
  height: 223px;
  border-radius: 15px;
  object-fit: cover;
  margin-left: 100px;
}

@media (max-width: 1440px) {
  .kalen_img {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .kalen_img {
    width: 336px;
    height: 223px;
    margin-left: 20px;
  }
}
