.middle {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.middle_in {
  width: 1240px;
}
.middle_in_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #ff6060;
  margin: 0 auto;
}
.middle_content_grade_host {
  display: flex;
  flex-direction: column-reverse;
  gap: 60px;
}

.dropdown-container {
  display: flex;
  gap: 76px;
}

.tag {
  display: inline-block;
  background-color: #ff6060;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}


@media screen and (max-width: 650px) {
  .middle_in_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
}

@media screen and (max-width: 375px) {
  .middle_content_grade_host {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
  }
  .dropdown-container {
    display: block;
  }
  .middle_in {
    width: 335px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .tag span {
    font-size: 10px;
  }
  .logement-container {
    width: 335px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .middle {
    width: 375px;
  }
}
