.dropdown-container {
  gap: 76px;
}

.tag {
  display: inline-block;
  background-color: #ff6060;
  color: white;
  padding: 0.5rem;
  border-radius: 15px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.middle {
  width: 1240px;
  margin: auto;
}

.middle_in {
  display: flex;
}

h1 {
  color: #ff6060;
}

h3 {
  color: #ff6060;
}
