/* nav.css */

.navigation {
  display: flex;
}

.nav_in {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_click {
  margin-right: 20px;
}

.nav_click:last-child {
  margin-right: 0;
}

.nav_click a {
  color: #FF6060;
  text-decoration: none;
  position: relative;
  font-size: 24px;
}

.nav_click a:hover::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FF6060;
}

