.host-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px; 
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 1rem; 
}

@media screen and (max-width: 375px) {
  .host-picture {
    width: 32px;
    height: 32px;
  }
}
.host-name {
  color: #ff6060;
}
