.gallery-wrapper {
  background-color: #f7f7f7;
  width: 1240px;
  margin: 0 auto;
  border-radius: 25px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .gallery-wrapper {
    width: 100%;
    border-radius: 0;
  }
  .gallery-wrapper {
    background-color: #ffffff;
  }
}
