.carousel-section {
  width: 1240px;
  height: 415px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  position: relative;
}

.carousel-arrow-right,
.carousel-arrow-left {
  width: 47px;
  height: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.carousel-arrow-right {
  right: 24px;
}

.carousel-arrow-left {
  left: 24px;
}

.carousel-slide-count {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

@media screen and (max-width: 375px) {
  .carousel-section {
    width: 335px;
    height: 255px;
  }

  .carousel-arrow-right,
  .carousel-arrow-left {
    width: 12px;
    height: 20px;
  }
}
